a:hover{
    color: aquamarine;
}
a:visited{
    color: red;
}

button:hover{
    color: brown;
}

button:active{
    color: aqua;
}

li:nth-child(3n){
    background-color: aquamarine;
}